/*body {
  color: red;
  width: 90%;
  margin: auto;
}
a {
  text-decoration: none;
}
figure.prdCont
{
  height: auto;
  width: 200px;
  display: inline-block;
}
figcaption.prdName
{
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
img.prdImg
{
  height: 200px;
  width: 200px
}
img.pdtImg
{
  max-height: 400px;
  max-width: 400px;
}
div.main {
  color: blue;
  font-family: Arial;
  margin-top: 50px;
  box-sizing: border-box;
}
div.pdtData {
  width: 40%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin-left: 50px;
}
input {
    height: 25px;
    margin: 6px;
    border-color: gray;
    padding-left: 8px;
    border-radius: 10px;
}
input#search {
    width: 80px;
    height: 30px;
}
#bannerImg {
  width: 100%;
  margin: 10px
}
.pdtDiv {
  float: left;
}
.pdtImgCont {
  display: inline-block;
}
#pdtDesc {
  max-width: 80%;
}*/
#Loading-wheel {
  display: none;
  position: absolute;
  width: 100%;
  height: 60%;
  background: url('/fade-spinner.gif') no-repeat center center;
  top: 0;
  left: 0;
  z-index: 2;
}